<%# <p>Find me in app/views/dashboard/index.html.erb</p>  %>
<!-- app/views/dashboard/index.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users List</title>
</head>
<body>
  <div>
    <h1>Welcome To Dashboard</h1>
 </div>
</body>
</html>


