<%# <p>Find me in app/views/user/index.html.erb</p> %>
<!-- app/views/users/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Users List</title>
</head>
<body>
  <!-- Content specific to users index -->
  <%= render partial: 'users/user_list', locals: { users: @users } %>
</body>
</html>











