<!-- app/views/posts/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Posts List</title>
</head>
<body>
  <!-- Content specific to posts index -->
  <%= render partial: 'posts/post_list', locals: { posts: @posts } %>
</body>
</html>
