<h1>Posts</h1>
<% @posts.each do |post| %>
  <div>
    <%= image_tag(post.image_url, width: '200', height: '150') if post.image_url.present? %><br>
    <h3><%= post.title %></h3>
    <p><%= post.description %></p>
  </div>
<% end %>
