/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* app/assets/stylesheets/application.scss */

/* General styles */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Dashboard styles */
.dashboard {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.dashboard ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dashboard ul li {
  margin-bottom: 10px;
}

.dashboard ul li a {
  display: block;
  padding: 10px 15px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
}

.dashboard ul li a:hover {
  background-color: #e0e0e0;
}

.navbar {
  background-color: #f8f9fa; /* Light gray background */
  border-bottom: 1px solid #dee2e6; /* Gray border bottom */
  display: flex;
}

.navbar-brand img.logo-img {
  height: 70px; /* Adjust the height of the logo */
}

.navbar-nav .nav-link {
  color: #495057; /* Dark text color */
  font-weight: bold;
  margin-left: 25px; /* Adjust spacing between nav items */
  display: flex;
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Hover color */
}

/* Login button styles */
.navbar .btn-login {
  margin-left: auto; /* Push login button to the right */
}

/* Main content styles */
.container {
  display: flex;
  justify-content: space-evenly;
}

/*.btn-login{
  height: 30px;
  width: 100px;
  margin-top: 28px;
/*  margin-left: 300px;*/
  /*border: 1px solid black;
  border-radius: 20px;
}*/

.btn-login:hover{
  background-color: skyblue;
}

